#birthday-cake {
  position: relative;
  top: 50px;
}

#birthday-cake:before {
  content: "";
  position: absolute;
  background-color: #ede0d4;
  width: 400px;
  height: 140px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -10%);
  box-shadow: inset -2px -5px #e6ccb2;
}

.cake {
  position: absolute;
  background-color: #ddb892;
  width: 350px;
  height: 130px;
  transform: translate(-50%, -60%);
}

.cake:before, .cake:after {
  content: "";
  position: absolute;
}

.cake:before, .middle, .middle:before {
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  width: 350px;
  height: 50px;
}

.cake:before {
  background-color: #ddb892;
  top: 130px;
}

.cake:after {
  background-color: #b08968;
  width: 350px;
  height: 30px;
  top: 50px;
}

.middle {
  position: absolute;
  background-color: #b08968;
  top: 80px;
  z-index: 1;
}

.middle:before {
  content: "";
  position: absolute;
  background-color: #ddb892;
  top: -35px;
}

.top {
  position: absolute;
  background-color: #7f5539;
  width: 350px;
  height: 90px;
  border-radius: 50%;
  z-index: 2;
  top: -45px;
  box-shadow: inset -5px -1px #fff, inset -70px 2px rgba(255, 255, 255, .1);
}

.chocs {
  position: absolute;
  width: 55px;
  height: 50px;
  background-color: #7f5539;
  top: 0;
  z-index: 1;
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
  box-shadow: 49px 20px #7f5539, 98px 25px #7f5539, 147px 30px #7f5539, 196px 25px #7f5539, 245px 20px #7f5539, 295px 0 #7f5539;
}

.candles {
  position: absolute;
  width: 30px;
  height: 80px;
  background-color: #0081a7;
  top: -160px;
  left: -20px;
  box-shadow: 50px 20px #0081a7, -50px 20px #0081a7;
  cursor: pointer;
}

.flame, .flame2, .flame3 {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: rgba(252, 191, 73, .8);
  border-radius: 80% 15% 55% 50% / 55% 15% 80% 50%;
  transform: rotate(-45deg);
  z-index: 4;
  transition: opacity 0.5s ease-out;
}

.flame {
  top: -40px;
}

.flame2 {
  top: -20px;
  left: -50px;
}

.flame3 {
  top: -20px;
  left: 50px;
}

.text {
  width: 350px;
  font-size: 50px;
  position: absolute;
  color: white;
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  left: -140px;
  top: 100px;
  z-index: -1;
  transition: top 0.5s, opacity 0.5s ease-out;
  opacity: 0;
}

.text.show-text {
  top: -90px;
  opacity: 1;
}

.text2 {
  font-size: 25px;
  width: 300px;
  position: absolute;
  color: white;
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  top: 105px;
  left: -140px;
}
