.profile-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white; /* text color matches navbar */
}

.profile-name {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.profile-logout-btn {
  padding: 6px 10px;
  background: #ff4e4e;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
.profile-logout-btn:hover {
  background: #e33c3c;
}
