/* Global styles */
body {
  font-family: 'Pacifico', cursive, sans-serif;
  background-color: #fce4ec;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Pacifico', cursive;
  color: #ff4081;
  text-align: center;
}

/* Link styles */
a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff4081;
}

/* Styling for smooth scroll */
html {
  scroll-behavior: smooth;
}